
# Supabase (new - to be filled after migration)
NEXT_PUBLIC_SUPABASE_URL=https://cwewgkdzehckfrxlrbvh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3ZXdna2R6ZWhja2ZyeGxyYnZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4ODk1NTksImV4cCI6MjA4MjQ2NTU1OX0.HSZPildC_hFF4yZKEkCttld212J3GpuP3QMUvr7s-Tg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3ZXdna2R6ZWhja2ZyeGxyYnZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njg4OTU1OSwiZXhwIjoyMDgyNDY1NTU5fQ.HApTn5u35sMIYnRn6P8fZNe_GAReaEFqlS9Puq2wB18

# App
NEXT_PUBLIC_ADMIN_EMAILS=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_FREE_SHIPPING_THRESHOLD=

# Cloudinary
CLOUDINARY_URL=cloudinary://856382422193968:c1Zf_iJ3lcg3wcJPwpRZEE9cP10@dwz0wmxsh

# PhonePe
PHONEPE_CLIENT_ID=M23EK5H28QPN6_2603261738
PHONEPE_CLIENT_SECRET=NDA3YjhhOGQtOTJkZC00NzhkLWEwMzQtNTg5NTY4NDgxODJl
PHONEPE_CLIENT_VERSION=1
PHONEPE_ENVIRONMENT=SANDBOX

# Shiprocket
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
